body{
    padding: 2;
    margin: 2;
}
 a{
    color: aliceblue;
    background-color: aliceblue;
}

.fa{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background-color: #fff;
    padding: 4px;
    border-radius: 50px;

}
.sepparateur{
    height: 4px;
    width: 80px;
    border: none;
    box-shadow: none;
    background-color: #00ffaa;

}
